h1{
    padding-left: 112%;
    margin: auto; height: 30%; width: 30%;
}
body{
    padding-right: 35%;
    margin: auto; height: 30%; width: 30%;
}
table {
    background-color: grey;
    height: 600px;
    width: 600px;
    
}
.bigdiv{
    
    position: relative;
    display: flex;
}
.left{
    position: relative;
    padding: 10%;
    float: left;
    z-index: 1;
}
.right{
    z-index: 1;
    position: relative;
    float: right;
}
.xmg{
    width: 100px;
    height: 100px;
}
.omg{
    width: 100px;
    height: 90px;
}
button{
    width: 100%; height: 100%;
}
button:hover {
    background-color: aquamarine;
}
#c11{
    border: solid black 2px;
}
#c12{
    border: solid black 2px;
}
#c13{
    border: solid black 2px;
}
#c14{
    border: solid black 2px;
}
#c21{
    border: solid black 2px;
}
#c22{
    border: solid black 2px;
}
#c23{
    border: solid black 2px;
}
#c24{
    border: solid black 2px;
}
#c31{
    border: solid black 2px;
}
#c32{
    border: solid black 2px;
}
#c33{
    border: solid black 2px;
}
#c34{
    border: solid black 2px;
}
#c41{
    border: solid black 2px;
}
#c42{
    border: solid black 2px;
}
#c43{
    border: solid black 2px;
}
#c44{
    border: solid black 2px;
}
